/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.atras{
    -fx-background-image: url("atras.jpg");
    -fx-background-repeat: no-repeat;
}
.botones_principio{
    -fx-background-color: red;
}